*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
// VARIABLES
@import './variables/colores';
@import './variables/extend';

// SECCIONES
@import './secciones/header';
@import './secciones/index';
@import './secciones/footer';
@import './secciones/alfombras';
@import './secciones/faq';
@import './secciones/nosotros';
@import './secciones/contacto';

// MEDIASQUERYS
@import './secciones/mediaquerys';
